{
  "env": {},
  "ignore": [],
  "plugins": [
    "transform-class-properties",
    "transform-async-generator-functions",
    "transform-runtime"
  ],
  "presets": [
    "es2015",
    "es2017",
    "react"
  ]
}
